{% extends 'hotel/base.html' %}

{% block content %}
    <h1>Our Staff</h1>
    <div class="row">
        {% for staff in staff %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ staff.first_name }} {{ staff.last_name }}</h5>
                        <p class="card-text">{{ staff.role }}</p>
                        <p class="card-text">{{ staff.email }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
